@import "tailwindcss";

/*noinspection ALL*/
@font-face {
    font-family: "SNPro";
    src: url("/fonts/SNPro-Light.ttf") format("truetype");
    font-weight: 300;
}

/*noinspection ALL*/
@font-face {
    font-family: "SNPro";
    src: url("/fonts/SNPro-Regular.ttf") format("truetype");
    font-weight: 400;
}

/*noinspection ALL*/
@font-face {
    font-family: "SNPro";
    src: url("/fonts/SNPro-Medium.ttf") format("truetype");
    font-weight: 500;
}

/*noinspection ALL*/
@font-face {
    font-family: "SNPro";
    src: url("/fonts/SNPro-Semibold.ttf") format("truetype");
    font-weight: 600;
}

/*noinspection ALL*/
@font-face {
    font-family: "SNPro";
    src: url("/fonts/SNPro-Bold.ttf") format("truetype");
    font-weight: 700;
}

/*noinspection ALL*/
@font-face {
    font-family: "SNPro";
    src: url("/fonts/SNPro-Black.ttf") format("truetype");
    font-weight: 900;
}

@theme {
    --font-sans: "SNPro", sans-serif;
}

:root {
    --white: #fefefe;
    --primary: #9f9faf;
    --secondary: #21212f;
    --background: #13131b;
    --accent: #6c4fd8;
    --accent-hover: #7d62e0;
    --error: #bf3b3b;
    --success: #35c135;
}

html, body, #root {
    height: 100%;
    margin: 0;
    background-color: var(--background);
    color: var(--primary);
    font-family: "SNPro", sans-serif;
}